body{
    background-image: linear-gradient( rgb(65, 98, 156),rgb(194, 194, 245));
    min-height: 100vh;
    background-repeat: no-repeat;
}
.link{
    text-decoration: none;
    color: black;

} 
.new{
    background-color: #e0e0e0;
    border-radius: 25px;
    padding: 20px;
    width: 65%;

    margin-top: 25px; 
}    

.new:hover{
    box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

h1{
    
    border-radius: 25px;
    padding: 20px;
    background-color: #e0e0e0;
    
}

h2{
    
    border-radius: 25px;
    padding: 20px;
    background-color: #e0e0e0;

    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}

.main{
    display: flex;
    flex-direction: row;
}

.side-bar{
    /* background-color: #e0e0e0; */
    margin-top: 20px;
    
    border-radius: 10px;
    /* padding: 5px 10px 0px 5px; */

    display: flex;
    flex-direction: column;

}

.card-container{

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    margin: 20px 15px 20px 0px;

}

.card{
    background-color: #e0e0e0;
    /* border: 3px solid red; */
    border-radius: 15px;
    padding: 5px 20px;
    margin:20px 7px;
    min-width: 20%;

    /* box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; */
}

.card:hover{
    box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

ul{
    list-style-type: none;

}

.card-content{
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

img{
    max-width: 14rem;
    height: auto;

}
.image2{
    max-width: 20rem;
}

.p-tag{
    margin: 14px 3px 0px 14px;
}

.add-to-cart{
    font-size: 0.8rem;
    padding: 0.2rem;
    margin:0.1rem;
    border-radius: 0.5rem;
    border: 0.1rem 404040 solid;
    background-color: #f0c040;
    width: 100%;
    cursor: pointer;
}

.outOfStock{
    font-size: 1.5rem;
    padding: 5px
}


/* ======show========= */
.show-content{
    display: flex;
    flex-direction: row;

    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.stock2{
        font-family: Impact, fantasy ;
        

        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    
}

.outOfStock2{
    font-size: 4.5rem;
    color: red;
}

.text2{
    font-size: 2rem;
    padding-left: 30px;
}

/* =====edit==== */
.edit{
    margin-top: 20px;
}

#style{
    font-size: 0.8rem;
    padding: 0.2rem;
    margin-top: 10px;
    border-radius: 0.5rem;
    border: 0.1rem 404040 solid;
    background-color:rgb(207, 7, 247);

    width: 40%;
    margin-left: 250px;
    margin-right: auto;
    cursor: pointer;
}