body{
    background-image: linear-gradient( lightslategray,white);
    height: 100%;
    background-repeat: no-repeat;
}
 
.new{
    background-color: #e0e0e0;
    border-radius: 25px;
    padding: 20px;
    width: 15%;
}

h1{
    /* border: 3px solid red; */
    border-radius: 25px;
    padding: 20px;
    background-color: #e0e0e0;
    
}

.main{
    display: flex;
    flex-direction: row;
}

.side-bar{
    background-color: #e0e0e0;
    margin-top: 20px;
    /* border: 3px solid red; */
    border-radius: 10px;
    padding: 5px 10px 0px 15px;
}

.card-container{

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    margin: 20px 15px 20px 5px;

}

.card{
    background-color: #e0e0e0;
    border: 3px solid red;
    border-radius: 15px;
    padding: 5px 20px;
    margin:20px 9px;
    width: 20%;
}

ul{
    list-style-type: none;

}

.card-content{
    display: flex;
    flex-direction: column;
}

img{
    max-width: 8rem;
    
    height: auto;
}

.add-to-cart{
    font-size: 0.8rem;
    padding: 0.2rem;
    margin:0.1rem;
    border-radius: 0.5rem;
    border: 0.1rem 404040 solid;
    background-color: #f0c040;
    width: 100%;
    cursor: pointer;
}

.outOfStock{
    font-size: 1.5rem;
    padding: 5px
}